<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Showdown</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<!-- class= container-item__subitem -->
<body>
  <div class="wrapper">
    <header class="header">
      <div></div>
      <a href="/" class="header-title">Animal Showdown</a>
      <nav class="header-login">
        {{#if session.loggedIn}}
        <button id="logout" class="login-btn">logout</button>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="footer">
      <p>&copy; {{date}} Made with ❤️ by <a href="https://github.com/gstockha/group-project-ii">Grace, Ceri, George, Grant, and David</a></p>
    </footer>
  </div>
  
  {{#if session.loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>