<!-- whatever goes here will render in the 'body' in main.handlebars-->
<h1>Who would win in a fight?</h1>
<div class="animal-container">
    <div class="button-wrapper">
        <button class="animal_1-button">{{ animal_1 }}</button>
    </div>
    <div class="button-wrapper">
        <button class="animal_2-button">{{ animal_2 }}</button>
    </div>
</div>